* {
  box-sizing: border-box;
}

html, body {
  background-color: #10171e;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.center {
  width: 100%;
  max-width: 1240px;
  margin: auto;
  padding: 0 20px;
  margin-top: 20px;
}

.w-100 {
  width: 100%;
}

.dpb {
  display: block;
}

input[type='text'] {
  background-color: #10171e;
  border: none;
  color: #eee;
  padding: 15px;
}

.btn {
  border: none;
  cursor: pointer;
  background-color: #1da1f2;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 20px;

  &:hover {
    background-color: #1a91da;
  }
}

.pools {
  background-color: #15202b;

  &-utils {
    padding: 10px 15px;
  }

  &-list {
    list-style: none;
    display: block;
    margin: 0 0 30px;
    padding: 0;
    border-top: 1px #38444d solid;

    li {
      width: 100%; 
      padding: 15px;
      border-bottom: 1px #38444d solid;

      p {
        margin: 0;
      }
    }
  }
}
